/**********************************************************************************
	File name:      variables.scss
	Author:			Definity First
	Description:    CSS overrides for WordPress variables styles, new variables 
					definitionst and styles for layout components.
**********************************************************************************/

$clr-gray: #D9D9D9;
$clr-success:#0bb713;
$clr-error: #F43929;
$clr-black:#10202F;
$clr-primary:#003973;
$clr-white: #ffffff;


