/**********************************************************************************
	File name:      about.scss
	Author:			Definity First
	Description:    CSS overrides for WordPress about styles.
**********************************************************************************/
.about-us{
    .about-text{
        margin: 50px 0 50px 0;
    }
    .about-cases{
        h4{
            position: relative;
            top: 45%;
        }
        img{
            width: 100%;
        }
    }
}